[Unit]
Description=Gunicorn instance to serve my FASTAPI
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/fastapi/src
Environment="PATH=/home/ec2-user/fastapi/venv/bin"
ExecStart=/home/ec2-user/fastapi/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker main:app -b 0.0.0.0:8085

[Install]
WantedBy=multi-user.target